.mashroom{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../pic/collection-head-img-2card.svg");
    &_all{
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(162, 89, 255, 1), rgba(162, 89, 255, 0));
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 35px;
        gap: 30px;
        &_avatar{
            width: 30%;
        }
    }
    &_title{
        width: 20%;
        color: #fff;
        font-size: 38px;
    }
    &_btn{
        padding: 19px 0px;
        font-size: 18px;
        border-radius: 20px;
        background-color: #fff;
        border: none;
    }
    &_btn_tablet{
        display: none;
        padding: 19px 0px;
        font-size: 18px;
        border-radius: 20px;
        background-color: #fff;
        border: none;
    }
    &_clock{
        background-color: rgba(59, 59, 59, 0.5);
        border-radius: 20px;
        padding: 40px 30px;
        color: #fff;
        &_desc{
            display: flex;
            gap: 38px;
            font-size: 18px;
        }
        &_timer{
            font-size: 48px;
            line-height: 45px;
            font-weight: 700;
            padding: 30px 0px;
        }
    }
}
@media (min-width: 786px) {
    .mashroom{
        &_all{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

        }
        &_all_title{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &_title{
            width: 100%;
        }
        &_clock{ 
            height: 40%;
        }
        &_btn{
            display: none;
        }
        &_btn_tablet{
            display: block;
            width: 80%;
        }
    }
}